In [1]:
!pip install pandas --upgrade

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/16/b5/bab3477466a4d9e705d40829ac65683155e7977acbc07f05b06fabded1be/pandas-0.25.3-cp37-cp37m-macosx_10_9_x86_64.whl (10.2MB)
     |████████████████████████████████| 10.2MB 6.9MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /Users/kamalmishra/anaconda3/lib/python3.7/site-packages (from pandas) (1.17.2)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /Users/kamalmishra/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /Users/kamalmishra/anaconda3/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied, skipping upgrade: six>=1.5 in /Users/kamalmishra/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Installing collected packages: pandas
  Found existing installation: pandas 0.25.1
    Uninstalling pandas-0.25.1:
      Successfully uninstalled pandas-0.25.1
Successfully installed pandas-0.25.3

In [2]:
import pandas as pd

In [3]:
pd.__version__

'0.25.3'

In [4]:
# Series - one dimension array, list of a numbers

In [12]:
list_of_nums = [3, 4, 7, 2, 9]

In [14]:
series_of_nums = pd.Series(list_of_nums)

In [15]:
series_of_nums

0    3
1    4
2    7
3    2
4    9
dtype: int64

In [16]:
series_of_nums[1]

4

In [17]:
index_mask = [0,3,4]

In [18]:
series_of_nums[index_mask]

0    3
3    2
4    9
dtype: int64

In [19]:
boolean_mask = [True,False,False,True,False]

In [20]:
series_of_nums[boolean_mask]

0    3
3    2
dtype: int64

In [21]:
series_of_nums.index

RangeIndex(start=0, stop=5, step=1)

In [22]:
series_of_nums.index = ['a','b','c','d','e']

In [23]:
series_of_nums

a    3
b    4
c    7
d    2
e    9
dtype: int64

In [24]:
series_of_nums['b']

4

In [25]:
series_of_nums['d']

2

In [26]:
series_of_nums[['b','c']]

b    4
c    7
dtype: int64

In [27]:
dict_of_data = {'a': 3,
                'b': 4,
                'c': 7,
                'd': 2,
                'e': 9}

In [28]:
series_from_dict = pd.Series(dict_of_data)

In [29]:
series_from_dict

a    3
b    4
c    7
d    2
e    9
dtype: int64

In [30]:
series_from_dict.name = 'Series from Dictionary'

In [31]:
series_from_dict

a    3
b    4
c    7
d    2
e    9
Name: Series from Dictionary, dtype: int64

In [32]:
series_one = pd.Series([1,2,3,4,5])

In [33]:
series_two = pd.Series([1,3,5,7,9])

In [34]:
series_one.isin(series_two)

0     True
1    False
2     True
3    False
4     True
dtype: bool

In [35]:
series_one[series_one.isin(series_two)]

0    1
2    3
4    5
dtype: int64

In [36]:
series_one[~series_one.isin(series_two)]

1    2
3    4
dtype: int64

In [37]:
series_square = series_one.map(lambda x: x*x)

In [38]:
series_square

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [39]:
series_one.add(series_two)

0     2
1     5
2     8
3    11
4    14
dtype: int64

In [40]:
series_one

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [41]:
series_one.astype('float64')

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [42]:
series_one.append(series_two)

0    1
1    2
2    3
3    4
4    5
0    1
1    3
2    5
3    7
4    9
dtype: int64

In [43]:
appended_series = series_one.append(series_two,
                                   ignore_index = True)

In [44]:
appended_series

0    1
1    2
2    3
3    4
4    5
5    1
6    3
7    5
8    7
9    9
dtype: int64

In [45]:
appended_series.drop(8)

0    1
1    2
2    3
3    4
4    5
5    1
6    3
7    5
9    9
dtype: int64

In [46]:
appended_series.drop(labels=[5,7])

0    1
1    2
2    3
3    4
4    5
6    3
8    7
9    9
dtype: int64

In [47]:
appended_series.count()

10

In [48]:
appended_series.nunique()

7

In [49]:
appended_series.unique()

array([1, 2, 3, 4, 5, 7, 9])

In [50]:
appended_series

0    1
1    2
2    3
3    4
4    5
5    1
6    3
7    5
8    7
9    9
dtype: int64

In [51]:
appended_series.sort_values()

0    1
5    1
1    2
2    3
6    3
3    4
4    5
7    5
8    7
9    9
dtype: int64

In [52]:
appended_series

0    1
1    2
2    3
3    4
4    5
5    1
6    3
7    5
8    7
9    9
dtype: int64

In [53]:
appended_series.sort_values(inplace = True)

In [54]:
appended_series

0    1
5    1
1    2
2    3
6    3
3    4
4    5
7    5
8    7
9    9
dtype: int64

In [55]:
appended_series.reset_index()

   index  0
0      0  1
1      5  1
2      1  2
3      2  3
4      6  3
5      3  4
6      4  5
7      7  5
8      8  7
9      9  9

In [56]:
appended_series.reset_index(drop=True)

0    1
1    1
2    2
3    3
4    3
5    4
6    5
7    5
8    7
9    9
dtype: int64

In [ ]:
# End of Series object related content